button {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;

  width: 60%;
  height: 40px;
  margin: 20px 0;

  color: #ffffff;
  background: #5a3472;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.0125em;

  border: none;
  border-radius: 8px;
}
